= simple_form_for @place, defaults: { required: false } do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :image
  .form-actions
  = f.button :submit
