= simple_form_for place, remote: true, defaults: { required: false }, authenticity_token: true do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :description, as: :text,  input_html: { maxlength: 255, rows: 4 }
    = f.input :image, placeholder: "http://"
  .form-actions
  = f.button :submit, class: "btn-block"
