.panel.panel-default
  .panel-heading
    %h3.panel-title= place.name
  .panel-image
    = image_tag place.image, class: "img-resized"
    = like_button place
  .panel-body
    = place.description
  - if place.user
    .panel-footer
      = place.user.email
